@media(max-width:991px){
	.a-icon{
		text-align:center;		
	}
	.a-icon .ab-icon-txt {
		float: left;
		margin-top: 25px;
		max-width:100% !important;
	}
	.a-icon .media-left{
		float:none !important;
	}
}

@media(max-width:675px){
footer{
	text-align:center;
}
.footer-h ul li a img {
    float: left;
    padding-right: 10px;
}
.footer-h{
	margin-top:20px;	
}
}
@media(max-width:575px){
	.t-i{
		margin-top:10px;
	}
}